nav{
    height: 80px;
    width: 100%;
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a{
    margin-left: 20px;
    font-size: 35px;
    color: chartreuse;
    text-decoration: none;
}
nav ul {
    display: flex;
    list-style: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}
.container{
    background-color: darkcyan;
    margin-top: 20px;
    padding-top: 30px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}
.container img{
    width: 100%;
}
.container .card{
    box-shadow: 5px 5px 20px black;
    width: 300px;
    background-color: brown;
    padding-bottom: 30px;
}
.container .card{
    display: flex;
    flex-direction: column;
}
.cardbody {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;

}